@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Gellix-Regular';
  src: url('../font/Gellix-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gellix-Semibold';
  src: url('../font/Gellix-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../font/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../font/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('../font/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../font/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --color-main: #0D0DFC; 
  --color-electric50: #E8F1FF;
}

[data-theme="dark"] {
  --color-main: #1A1AFC;
  --color-electric50: #C0C0FF;
}

[data-theme="light"] {
  --color-main: #0D0DFC;
  --color-electric50: #E8F1FF;
}

:root {
  --white: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.gellix{
  font-family: 'Gellix-Regular', sans-serif;
}
.gellix-semibold{
  font-family: 'Gellix-SemiBold', sans-serif;
}

.worksans {
  font-family: 'WorkSans-Regular', sans-serif;
}
.worksans-medium {
  font-family: 'WorkSans-Medium', sans-serif;
}
.worksans-semibold {
  font-family: 'WorkSans-SemiBold', sans-serif;
}
.worksans-bold {
  font-family: 'WorkSans-Bold', sans-serif;
}

.bg-main{
  background-color: #0D0DFC;
}
.bg-electric400{
  background-color: #5878FF;
}
.bg-electric50{
  background-color: #E8F1FF;
}
.bg-grey50{
  background-color: #F6F7F9;
}
.bg-green600{
  background-color: #0E8D5A;
}
.bg-red600{
  background-color: #DE1B1B;
}
.bg-black20{
  background-color: #0E101D20;
}
.bg-black40{
  background-color: #0E101420;
}
.grey800{
  color: #414653;
}
.main{
  color: #0D0DFC;
}

